<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>ModuleName</key>
		<string>PhotoPicker</string>
		<key>ModuleImagePath</key>
		<string>im_placeholder</string>
		<key>InitialClass</key>
		<string>IMPhotoPickerInitialViewController</string>
	</dict>
	<dict>
		<key>ModuleName</key>
		<string>TableViewCell Animation</string>
		<key>ModuleImagePath</key>
		<string>im_placeholder</string>
		<key>InitialClass</key>
		<string>IMTableViewCellAnimationViewController</string>
	</dict>
	<dict>
		<key>ModuleName</key>
		<string>Rich Text</string>
		<key>ModuleImagePath</key>
		<string>im_placeholder</string>
		<key>InitialClass</key>
		<string>IMInitialProgressViewController</string>
	</dict>
	<dict>
		<key>ModuleName</key>
		<string>DatePicker</string>
		<key>ModuleImagePath</key>
		<string>im_placeholder</string>
		<key>InitialClass</key>
		<string>IMDatePickerViewController</string>
	</dict>
</array>
</plist>
